/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Cabeçalho */
.topo {
  background: linear-gradient(90deg, #0077b6, #00b4d8);
  color: #ce1313;
  padding: 15px 3;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LOGO img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.menu a {
  color: #ad5252;
  text-decoration: saddlebrown;
  margin-left: 20px;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

/* Sessão Hero */
.hero {
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=1600') no-repeat center center/cover;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #00b4d8;
  color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #0096c7;
}

/* Destinos */
.destinos h2 {
  text-align: center;
  margin: 40px 0 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #f8f9fa;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-width: 300px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card h3 {
  margin: 15px 0 10px;
  color: #0077b6;
}

.card p {
  padding: 0 15px 20px;
  color: #555;
}

/* Rodapé */
.rodape {
  background: #023e8a;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
